.App {
  text-align: center;
  font: bold 14px times, serif;
  font-variant:small-caps;
  letter-spacing:2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.card {
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
}

/* .front {
  transition-duration:1s;
  backface-visibility: hidden;
} */

/* .front:hover {
  transform: rotateY(180deg);
  opacity: 0.2;
} */

#back {
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  position:relative;
  background:var(--transparency);
  text-align:center;
  font:bold 12px times, serif;
  color:var(--text);
  font-variant:small-caps;
  letter-spacing:1px;
  transition-duration:1s;
  opacity: 0;
}

#back:hover {
  opacity: 1;
  /* transform: rotateY(-180deg); */
}

.search {
  width:"20rem"; 
  background:"#F2F1F9"; 
  border:"none"; 
  border-radius:"5rem"; 
  padding:"0.5rem"
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
